<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Other World!</title>
        <link rel="stylesheet" href="assets://public/stylesheets/style.css">
    </head>

    <body>
        <h1>
            Other World!
        </h1>
    </body>

</html>